version: '3.8'
services:
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    hostname: kafka-ui
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "localhost:9092"
      KAFKA_CLUSTERS_0_ZOOKEEPER: "localhost:2181"
networks:
  default:
    driver: bridge
